/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background-color: black;
  color: #55FF55;
  font-family: 'Orbitron', sans-serif;
}

button {
  color: #55FF55;
  border: 1px solid #55FF55;
  background: black;
  width: 30%;
  height: 5vw;
  border-radius: 5px;
}

.selected-item {
  background: #55FF55;
  color: black;
}
.hidden {
  display: none;
}